
@{
    ViewBag.Title = "Ordered_placed";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<head>
    <style>
        body {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        font-family: helvetica;
        background-color: #81DAF5;
        background: url('../../Images/ezgif.com-gif-maker.gif') no-repeat center center fixed;
        background-size: cover;
        }

        #wrapper {
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        width: 995px;
        }

        h1 {
        margin-top: 50px;
        color: white;
        font-size: 50px;
        }
    </style>
</head>

<body></body>