@{
    ViewBag.Title = "ABOUT US";
}
<BR>
<BR>
<h2 style="text-align:center; font-weight:700; color:black">@ViewBag.Title</h2>
<BR>
<BR>
<html>
<head>
    <style>
        body {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            font-family: helvetica;
            background-color: #81DAF5;
            background: url('../../Images/back_1.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        #wrapper {
            text-align: center;
            margin: 0 auto;
            padding: 0px;
            width: 995px;
        }

        h1 {
            margin-top: 150px;
            color: white;
            font-size: 45px;
        }
    </style>
</head>
<body>
    <p style="text-align:center; font-size:xx-large; color:black">
        Welcome to our RESTAURANT MANAGEMENT SYSTEM. <br />This product can be used by an
        Owner to maintain details of Branded Restaurant. Customers can book their favourite dishes
        from their favourite restaurants at the click of a mouse. So, what are you waiting for,
        go ahead and enjoy our mouth-savouring dishes.<br /><br>
    </p>
    <p style="text-align: center; font-size: xx-large; color:chartreuse">Bon Appétit .....</p>
</body>
</html>






















