@{
    ViewBag.Title = "Contact Us";
}
<h2 style=" font-size:xx-large; color:black; font-weight:700">@ViewBag.Title.</h2>
<br><br>
@*<h3>@ViewBag.Message</h3>*@

<html>
<head>
    <style>
        body {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding: 0px;
            font-family: helvetica;
            background-color: #81DAF5;
            background: url('../../Images/back_1.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        #wrapper {
            text-align: center;
            margin: 0 auto;
            padding: 0px;
            width: 995px;
        }

        h1 {
            margin-top: 150px;
            color: white;
            font-size: 45px;
        }
    </style>
</head>
<body>
    <address style="font-weight:bold; font-size:x-large; color:black">
        NTT Data Global Delivery Services Pvt. Ltd.<br />
        Sanewadi, Aundh<br />
        Pune, Maharashtra<br />
        <abbr title="Phone">Phone:</abbr>
        020-1234 5678
    </address>

    <address >
        <strong style="font-weight:bold; font-size:large; color:black">Support:</strong>   <a href="mailto:Support@ntt.com" style="font-weight:bold; font-size:large; color:greenyellow">Support@example.com</a><br />
        <strong style="font-weight:bold; font-size:large; color:black">Marketing:</strong> <a href="mailto:Marketing@ntt.com" style="font-weight:bold; font-size:large; color:greenyellow">Marketing@example.com</a>
    </address>
</body>
</html>